.button{
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    background-color: #F6F6F6;
    padding: 12px;
    cursor: pointer;
    border: none;
}
