.form-container{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.form{
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        margin-top: 20px;
        font-size: 40px;
        font-weight: bold;
    }
    .form-content{
        width: 80%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        .input-field{
            display: flex;
            flex-direction: column;
            &.password{
                position: relative;
                .togglePassword{
                    position: absolute;
                    top: 37px;
                    right: 12px;
                }
            }
            input{
                outline: none;
                border: none;
                border-radius: 12px;
                background-color: #F6F6F6;
                padding: 10px;
                &:hover{
                border-radius: 12px;

                   outline: 1px solid $black;
                    box-sizing: border-box;
                }
            }
        }
        .active{
            background-color: $primary_color;
            color:$white
        }
        .not-allowed {
            pointer-events: auto! important;
            cursor: not-allowed! important;
        }
    }
}